name: Deploy static content to Pages

on:
  push:
    branches:
      - main

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: wasm32-wasip1

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: npm
          cache-dependency-path: ./demo/package-lock.json

      - name: Cargo build
        run: cargo build --target=wasm32-wasip1 --release --lib

      - name: Install npm dependencies
        run: npm ci
        working-directory: demo

      - name: Npm build
        run: npm run build
        working-directory: demo

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './demo/dist'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
